/* 日间模式生效 */
[data-theme="light"] #site-name,
[data-theme="light"] #site-title {
  animation: light_15px_dark 10s linear infinite;
}
[data-theme="light"] #site-subtitle {
  animation: light_10px_dark 10s linear infinite;
}
[data-theme="light"] #post-info {
  animation: light_15px_light 10s linear infinite;
}

/* 夜间模式生效 */
[data-theme="dark"] #site-name,
[data-theme="dark"] #site-title {
  animation: light_15px_dark 10s linear infinite;
}
[data-theme="dark"] #site-subtitle {
  animation: light_10px_dark 10s linear infinite;
}
[data-theme="dark"] #post-info {
  animation: light_15px_light 10s linear infinite;
}

/* 日间模式关键帧描述 */
@keyframes light_15px_light {
  0% {
    text-shadow: #5636ed 0 0 15px;
    opacity: 0.8;
    transform: scale(0.95);
  }
  25% {
    text-shadow: #11ee5e 0 0 15px;
    opacity: 1;
    transform: scale(1);
  }
  50% {
    text-shadow: #f14747 0 0 15px;
    opacity: 0.8;
    transform: scale(0.95);
  }
  75% {
    text-shadow: #f1a247 0 0 15px;
    opacity: 1;
    transform: scale(1);
  }
  100% {
    text-shadow: #5636ed 0 0 15px;
    opacity: 0.8;
    transform: scale(0.95);
  }
}

@keyframes light_10px_light {
  0% {
    text-shadow: #5636ed 0 0 10px;
    opacity: 0.8;
    transform: scale(0.95);
  }
  25% {
    text-shadow: #11ee5e 0 0 10px;
    opacity: 1;
    transform: scale(1);
  }
  50% {
    text-shadow: #f14747 0 0 10px;
    opacity: 0.8;
    transform: scale(0.95);
  }
  75% {
    text-shadow: #f1a247 0 0 10px;
    opacity: 1;
    transform: scale(1);
  }
  100% {
    text-shadow: #5636ed 0 0 10px;
    opacity: 0.8;
    transform: scale(0.95);
  }
}

@keyframes light_5px_light {
  0% {
    text-shadow: #5636ed 0 0 5px;
    opacity: 0.8;
    transform: scale(0.95);
  }
  25% {
    text-shadow: #11ee5e 0 0 5px;
    opacity: 1;
    transform: scale(1);
  }
  50% {
    text-shadow: #f14747 0 0 5px;
    opacity: 0.8;
    transform: scale(0.95);
  }
  75% {
    text-shadow: #f1a247 0 0 5px;
    opacity: 1;
    transform: scale(1);
  }
  100% {
    text-shadow: #5636ed 0 0 5px;
    opacity: 0.8;
    transform: scale(0.95);
  }
}

/* 夜间模式关键帧描述 */
@keyframes light_15px_dark {
  0% {
    text-shadow: #5636ed 0 0 15px;
    opacity: 0.6;
    transform: rotate(-3deg);
  }
  12.5% {
    text-shadow: #11ee5e 0 0 15px;
    opacity: 0.8;
    transform: rotate(0deg);
  }
  25% {
    text-shadow: #f14747 0 0 15px;
    opacity: 0.6;
    transform: rotate(3deg);
  }
  37.5% {
    text-shadow: #f1a247 0 0 15px;
    opacity: 0.8;
    transform: rotate(0deg);
  }
  50% {
    text-shadow: #f1ee47 0 0 15px;
    opacity: 0.6;
    transform: rotate(-3deg);
  }
  62.5% {
    text-shadow: #b347f1 0 0 15px;
    opacity: 0.8;
    transform: rotate(0deg);
  }
  75% {
    text-shadow: #002afa 0 0 15px;
    opacity: 0.6;
    transform: rotate(3deg);
  }
  87.5% {
    text-shadow: #ed709b 0 0 15px;
    opacity: 0.8;
    transform: rotate(0deg);
  }
  100% {
    text-shadow: #5636ed 0 0 15px;
    opacity: 0.6;
    transform: rotate(-3deg);
  }
}

@keyframes light_10px_dark {
  0% {
    text-shadow: #5636ed 0 0 10px;
    opacity: 0.6;
    transform: rotate(-3deg);
  }
  12.5% {
    text-shadow: #11ee5e 0 0 10px;
    opacity: 0.8;
    transform: rotate(0deg);
  }
  25% {
    text-shadow: #f14747 0 0 10px;
    opacity: 0.6;
    transform: rotate(3deg);
  }
  37.5% {
    text-shadow: #f1a247 0 0 10px;
    opacity: 0.8;
    transform: rotate(0deg);
  }
  50% {
    text-shadow: #f1ee47 0 0 10px;
    opacity: 0.6;
    transform: rotate(-3deg);
  }
  62.5% {
    text-shadow: #b347f1 0 0 10px;
    opacity: 0.8;
    transform: rotate(0deg);
  }
  75% {
    text-shadow: #002afa 0 0 10px;
    opacity: 0.6;
    transform: rotate(3deg);
  }
  87.5% {
    text-shadow: #ed709b 0 0 10px;
    opacity: 0.8;
    transform: rotate(0deg);
  }
  100% {
    text-shadow: #5636ed 0 0 10px;
    opacity: 0.6;
    transform: rotate(-3deg);
  }
}

@keyframes light_5px_dark {
  0% {
    text-shadow: #5636ed 0 0 5px;
    opacity: 0.6;
    transform: rotate(-3deg);
  }
  12.5% {
    text-shadow: #11ee5e 0 0 5px;
    opacity: 0.8;
    transform: rotate(0deg);
  }
  25% {
    text-shadow: #f14747 0 0 5px;
    opacity: 0.6;
    transform: rotate(3deg);
  }
  37.5% {
    text-shadow: #f1a247 0 0 5px;
    opacity: 0.8;
    transform: rotate(0deg);
  }
  50% {
    text-shadow: #f1ee47 0 0 5px;
    opacity: 0.6;
    transform: rotate(-3deg);
  }
  62.5% {
    text-shadow: #b347f1 0 0 5px;
    opacity: 0.8;
    transform: rotate(0deg);
  }
  75% {
    text-shadow: #002afa 0 0 5px;
    opacity: 0.6;
    transform: rotate(3deg);
  }
  87.5% {
    text-shadow: #ed709b 0 0 5px;
    opacity: 0.8;
    transform: rotate(0deg);
  }
  100% {
    text-shadow: #5636ed 0 0 5px;
    opacity: 0.6;
    transform: rotate(-3deg);
  }
}