/* 日月交替动画样式 */
.Cuteen_DarkSky,
.Cuteen_DarkSky:before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 88888888;
    pointer-events: none; /* 防止遮挡点击 */
}

.Cuteen_DarkSky {
    background: linear-gradient(to top, #f8cd71 0, #5bfde9 80%);
}

.Cuteen_DarkSky:before {
    transition: 2s ease all;
    opacity: 0;
    background: linear-gradient(to top, #30cfd0 0, #330867 100%);
}

.DarkMode .Cuteen_DarkSky:before {
    opacity: 1;
}

.Cuteen_DarkPlanet {
    z-index: 99999999;
    position: fixed;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    -webkit-animation: CuteenPlanetMove 2s cubic-bezier(0.7, 0, 0, 1);
    animation: CuteenPlanetMove 2s cubic-bezier(0.7, 0, 0, 1);
    transform-origin: center bottom;
    pointer-events: none;
}

@-webkit-keyframes CuteenPlanetMove {
    0% { transform: rotate(0); }
    to { transform: rotate(360deg); }
}
@keyframes CuteenPlanetMove {
    0% { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

.Cuteen_DarkPlanet #sun {
    position: absolute;
    border-radius: 100%;
    left: 44%;
    top: 30%;
    height: 6rem;
    width: 6rem;
    background: #ffee94;
    box-shadow: 0 0 40px #ffee94;
}

.Cuteen_DarkPlanet #moon {
    position: absolute;
    border-radius: 100%;
    left: 44%;
    top: 30%;
    height: 6rem;
    width: 6rem;
    box-shadow: -1.8em 1.8em 0 0.2em #fff;
}

/* 隐藏搜索默认的某些span */
.search span { display: none; }

.menus_item a { text-decoration: none !important; }

/* 按钮样式 */
.icon-V { padding: 5px; cursor: pointer; }